@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$global-color-primary: #1a191d;
$global-color-card: #201f23;
$global-color-secondary: #a8abaf;
$global-color-primary-transparent: rgba(26, 25, 29, 0.7);
$global-color-title-expertise-1: #df058d;
$global-color-title-expertise-2: #2c49d8;
$global-color-title-expertise-3: #ff6b2b;

* {
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}


html {
    scroll-behavior: smooth;
}


#navbar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    background-color: $global-color-primary-transparent;
    z-index: 10001;

    #logo-page {
        position: absolute;
        left: 30px;
        top: 10px;
        cursor: pointer;
        transition: all 0.2s;

        img {
            width: 100px;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    #redirect-page {
        display: flex;
        flex-direction: row;

        .button-redirect {
            text-decoration: none;
            position: relative;
            margin: 0px 20px;
            font-weight: 500;
            font-size: 18px;
            color: $global-color-secondary;
            transition: all 0.2s;
            cursor: pointer;


            &::before {
                content: "//";
                margin-right: 10px;
                letter-spacing: 5px;
            }

            &::after {
                content: attr(count);
                position: absolute;
                top: -12px;
                font-weight: 500;
                font-size: 10px;
                right: 0;
                color: $global-color-secondary;
            }

            &:hover {
                color: white;
            }
        }

    }
}

#page {
    #home {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: url(./assets/image/tamalsen-home-cover.jpg) no-repeat;
        background-size: cover;

        #title {
            font-size: 130px;
            animation: 12s colorChange infinite;
        }

        #description {
            font-size: 20px;
            word-spacing: 15px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    #expertise {
        padding-top: 80px;
        position: relative;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: $global-color-primary;

        #title {
            font-size: 60px;
        }

        #content {
            border: $global-color-secondary 3px solid;
            margin-top: 20px;

            .element {
                .title {
                    position: relative;
                    font-weight: 700;
                    font-size: 25px;
                    text-transform: uppercase;
                    text-decoration: underline $global-color-title-expertise-1;
                    letter-spacing: 2px;
                    margin-bottom: 10px;

                    &.pink {
                        text-decoration: underline $global-color-title-expertise-1;

                    }

                    &.blue {
                        text-decoration: underline $global-color-title-expertise-2;

                    }

                    &.orange {
                        text-decoration: underline $global-color-title-expertise-3;

                    }
                }

                .content {
                    margin-bottom: 10px;
                }

                margin: 30px;
            }
        }

        &::before {
            content: "";
            position: absolute;
            background-image: url(./assets/image/hello-world-html-code-768x384.webp);
            width: 400px;
            height: 400px;
            opacity: 0.15;
            bottom: 0;
            z-index: 9999;
        }
    }

    #project {
        padding: 100px 0;
        background-color: $global-color-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        #title {
            color: white;
            font-size: 60px;
            margin-bottom: 50px;

        }

        #list {
            padding: 0px 20px;
            display: grid;
            gap: 20px;
            grid-template-columns: auto auto auto;

            .card {
                overflow-x: hidden;
                background-color: $global-color-card;
                border-radius: 10px;
                color: white;
                display: flex;
                flex-direction: column;

                .card-img {
                    width: 100%;
                    overflow: hidden;
                    height: 300px;
                    object-fit: contain;
                    background-color: white;
                    transition: all ease-in-out 0.2s;
                }

                .card-title {
                    margin: 20px 10px;
                    font-weight: 700;
                    font-size: 24px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow-x: hidden;


                }

                &:hover .card-img {
                    transform: scale(1.1);
                }
            }
        }

    }
}