@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

#navbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  background-color: rgba(26, 25, 29, 0.7);
  z-index: 10001;
}
#navbar #logo-page {
  position: absolute;
  left: 30px;
  top: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
#navbar #logo-page img {
  width: 100px;
}
#navbar #logo-page:hover {
  opacity: 0.8;
}
#navbar #redirect-page {
  display: flex;
  flex-direction: row;
}
#navbar #redirect-page .button-redirect {
  text-decoration: none;
  position: relative;
  margin: 0px 20px;
  font-weight: 500;
  font-size: 18px;
  color: #a8abaf;
  transition: all 0.2s;
  cursor: pointer;
}
#navbar #redirect-page .button-redirect::before {
  content: "//";
  margin-right: 10px;
  letter-spacing: 5px;
}
#navbar #redirect-page .button-redirect::after {
  content: attr(count);
  position: absolute;
  top: -12px;
  font-weight: 500;
  font-size: 10px;
  right: 0;
  color: #a8abaf;
}
#navbar #redirect-page .button-redirect:hover {
  color: white;
}

#page #home {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(./assets/image/tamalsen-home-cover.jpg) no-repeat;
  background-size: cover;
}
#page #home #title {
  font-size: 130px;
  animation: 12s colorChange infinite;
}
#page #home #description {
  font-size: 20px;
  word-spacing: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
#page #expertise {
  padding-top: 80px;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a191d;
}
#page #expertise #title {
  font-size: 60px;
}
#page #expertise #content {
  border: #a8abaf 3px solid;
  margin-top: 20px;
}
#page #expertise #content .element {
  margin: 30px;
}
#page #expertise #content .element .title {
  position: relative;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  -webkit-text-decoration: underline #df058d;
          text-decoration: underline #df058d;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
#page #expertise #content .element .title.pink {
  -webkit-text-decoration: underline #df058d;
          text-decoration: underline #df058d;
}
#page #expertise #content .element .title.blue {
  -webkit-text-decoration: underline #2c49d8;
          text-decoration: underline #2c49d8;
}
#page #expertise #content .element .title.orange {
  -webkit-text-decoration: underline #ff6b2b;
          text-decoration: underline #ff6b2b;
}
#page #expertise #content .element .content {
  margin-bottom: 10px;
}
#page #expertise::before {
  content: "";
  position: absolute;
  background-image: url(./assets/image/hello-world-html-code-768x384.webp);
  width: 400px;
  height: 400px;
  opacity: 0.15;
  bottom: 0;
  z-index: 9999;
}
#page #project {
  padding: 100px 0;
  background-color: #1a191d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#page #project #title {
  color: white;
  font-size: 60px;
  margin-bottom: 50px;
}
#page #project #list {
  padding: 0px 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
}
#page #project #list .card {
  overflow-x: hidden;
  background-color: #201f23;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
}
#page #project #list .card .card-img {
  width: 100%;
  overflow: hidden;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
  transition: all ease-in-out 0.2s;
}
#page #project #list .card .card-title {
  margin: 20px 10px;
  font-weight: 700;
  font-size: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
#page #project #list .card:hover .card-img {
  transform: scale(1.1);
}/*# sourceMappingURL=styles.css.map */