@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  background-size: 400% 400%;
  -webkit-animation: gradient 8s ease infinite;
          animation: gradient 8s ease infinite;
  height: auto;
}
body #welcome {
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  margin-bottom: 12px;
}
body #intro {
  color: #ffffff;
  text-align: center;
}
body #wrap-avatar {
  margin: 16px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #wrap-avatar #avatar {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: center;
}
body #contact {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 24px;
  align-items: center;
}
body #contact a {
  margin: 6px;
}
body #showcase {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body #showcase .card {
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px;
  margin: 8px 16px;
  background-color: #ffffff;
  height: 400px;
  min-width: 300px;
  max-width: 350px;
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease 0s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
body #showcase .card .card-img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 60%;
}
body #showcase .card .content {
  padding: 16px;
}
body #showcase .card .content .card-title {
  color: #000000;
  font-size: 18px;
  margin-bottom: 8px;
}
body #showcase .card .content .card-type {
  font-size: 16px;
  font-weight: 700;
}
body #showcase .card .content .card-type .html-type {
  color: rgb(106, 190, 205);
}
body #showcase .card .content .card-type .css-type {
  color: rgb(62, 84, 163);
}
body #showcase .card .content .card-type .js-type {
  color: rgb(207, 99, 144);
}
body #showcase .card .content .card-type .python-type {
  color: rgb(170, 215, 66);
}
body #showcase .card .content .card-type .react-type {
  color: #CC0000;
}
body #showcase .card .content .card-type .firebase-type {
  color: #FFCC00;
}
body #showcase .card .content .description {
  opacity: 0.8;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  margin-top: 6px;
}
body #showcase .card:hover {
  transform: scale(1.05);
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}/*# sourceMappingURL=styles.css.map */