@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#sidebar {
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 20000;
}
#navbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  z-index: 10001;
  transition: all 0.5s linear;
}
@media (max-width: 800px) {
  #navbar {
    display: none;
    justify-content: flex-start;
    padding-left: 30px;
  }
}
#navbar #logo-page {
  position: absolute;
  left: 30px;
  top: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
@media (max-width: 800px) {
  #navbar #logo-page {
    right: 20px;
    left: auto;
  }
}
#navbar #logo-page img {
  width: 80px;
}
#navbar #logo-page:hover {
  opacity: 0.8;
}
#navbar #redirect-page {
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  #navbar #redirect-page {
    display: none;
  }
}
#navbar #redirect-page .button-redirect {
  text-decoration: none;
  position: relative;
  margin: 0px 20px;
  font-weight: 500;
  font-size: 18px;
  color: #a8abaf;
  transition: all 0.2s;
  cursor: pointer;
}
#navbar #redirect-page .button-redirect::before {
  content: "//";
  margin-right: 10px;
  letter-spacing: 5px;
}
#navbar #redirect-page .button-redirect::after {
  content: attr(count);
  position: absolute;
  top: -12px;
  font-weight: 500;
  font-size: 10px;
  right: 0;
  color: #a8abaf;
}
#navbar #redirect-page .button-redirect:hover {
  color: white;
}
#navbar.sticky {
  position: fixed;
  background-color: rgba(26, 25, 29, 0.8);
}
#navbar.sticky #logo-page {
  display: none;
}
#navbar.sticky .button-redirect {
  opacity: 0.8;
  font-size: 16px !important;
  color: #66d9ed !important;
}
#navbar.sticky .button-redirect::after {
  color: #66d9ed !important;
}
#navbar.sticky .button-redirect:hover {
  opacity: 1;
}

#page #home {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(./assets/image/tamalsen-home-cover.jpg) no-repeat;
  background-size: cover;
}
#page #home #title {
  font-size: 130px;
  animation: 12s colorChange infinite;
}
#page #home #description {
  font-size: 20px;
  word-spacing: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
#page #home::before {
  position: absolute;
  top: 0;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0705882353) 60%, #1a191d 100%);
  z-index: 9999;
}
#page #expertise {
  padding-top: 80px;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a191d;
}
#page #expertise #title {
  font-size: 60px;
}
#page #expertise #content {
  border: #a8abaf 3px solid;
  margin-top: 20px;
}
#page #expertise #content .element {
  margin: 30px;
}
#page #expertise #content .element .title {
  position: relative;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  -webkit-text-decoration: underline #df058d;
          text-decoration: underline #df058d;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
#page #expertise #content .element .title.pink {
  -webkit-text-decoration: underline #df058d;
          text-decoration: underline #df058d;
}
#page #expertise #content .element .title.blue {
  -webkit-text-decoration: underline #2c49d8;
          text-decoration: underline #2c49d8;
}
#page #expertise #content .element .title.orange {
  -webkit-text-decoration: underline #ff6b2b;
          text-decoration: underline #ff6b2b;
}
#page #expertise #content .element .content {
  margin-bottom: 10px;
}
#page #expertise::before {
  position: absolute;
  content: "";
  background: url(./assets/image/hello-world-html-code-768x384.webp) no-repeat;
  width: 400px;
  height: 400px;
  opacity: 0.15;
  bottom: -300px;
  z-index: 9999;
}
#page #project {
  padding: 100px 0;
  padding-top: 200px;
  background-color: #1a191d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#page #project #title {
  color: white;
  font-size: 60px;
  margin-bottom: 50px;
}
#page #project #list {
  padding: 0px 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
}
@media (max-width: 800px) {
  #page #project #list {
    grid-template-columns: auto;
  }
}
#page #project #list .card {
  overflow-x: hidden;
  background-color: #201f23;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
}
#page #project #list .card .card-img {
  width: 100%;
  overflow: hidden;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: white;
  transition: all ease-in-out 0.2s;
}
#page #project #list .card .card-title {
  margin: 20px 10px;
  font-weight: 700;
  font-size: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
#page #project #list .card:hover .card-img {
  transform: scale(1.1);
}
#page #contact {
  padding: 50px 30px;
  background-color: #1a191d;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#page #contact #title {
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 700;
}
#page #contact #info .link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
#page #contact #info .link img {
  margin-right: 30px;
}
#page #contact #info .link p {
  -webkit-user-select: text !important;
     -moz-user-select: text !important;
          user-select: text !important;
}

@media screen and (max-width: 800px) {
  #list {
    grid-template-columns: auto auto;
  }
}/*# sourceMappingURL=styles.css.map */