@import url(./variable.scss);

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}


#sidebar {
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 20000;

    #redirect {}
}

#navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    z-index: 10001;
    transition: all 0.5s linear;

    @include mobile {
        display: none;
        justify-content: flex-start;
        padding-left: 30px;
    }



    #logo-page {
        position: absolute;
        left: 30px;
        top: 20px;
        cursor: pointer;
        transition: all 0.2s;

        @include mobile {
            right: 20px;
            left: auto;
        }

        img {
            width: 300px;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    #redirect-page {
        @include mobile {
            display: none;
        }

        display: flex;
        flex-direction: row;

        .button-redirect {
            text-decoration: none;
            position: relative;
            margin: 0px 20px;
            font-weight: 500;
            font-size: 18px;
            color: $global-color-secondary;
            transition: all 0.2s;
            cursor: pointer;


            &::before {
                content: "//";
                margin-right: 10px;
                letter-spacing: 5px;
            }

            &::after {
                content: attr(count);
                position: absolute;
                top: -12px;
                font-weight: 500;
                font-size: 10px;
                right: 0;
                color: $global-color-secondary;
            }

            &:hover {
                color: white;
            }
        }

    }

    &.sticky {
        position: fixed;

        background-color: $global-color-primary-transparent;

        #logo-page {
            display: none;
        }

        .button-redirect {
            opacity: 0.8;
            font-size: 16px !important;
            color: $global-color-text-blue !important;

            &::after {
                color: $global-color-text-blue !important;

            }

            &:hover {
                opacity: 1;
            }
        }
    }
}

#page {


    #home {
        position: relative;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: url(../image/tamalsen-home-cover.jpg) no-repeat;
        background-size: cover;

        #title {
            font-size: 130px;
            animation: 12s colorChange infinite;
        }

        #description {
            font-size: 20px;
            word-spacing: 15px;
            font-weight: 500;
            text-transform: uppercase;
        }

        &::before {
            position: absolute;
            top: 0;
            content: "";
            left: 0;
            right: 0;
            bottom: 0;
            background-image: linear-gradient(180deg, #00000012 60%, #1a191d 100%);
            z-index: 9999;
        }
    }

    #expertise {
        padding-top: 80px;
        position: relative;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: $global-color-primary;

        #title {
            font-size: 60px;
        }

        #content {
            border: $global-color-secondary 3px solid;
            margin-top: 20px;

            .element {
                .title {
                    position: relative;
                    font-weight: 700;
                    font-size: 25px;
                    text-transform: uppercase;
                    text-decoration: underline $global-color-title-expertise-1;
                    letter-spacing: 2px;
                    margin-bottom: 10px;

                    &.pink {
                        text-decoration: underline $global-color-title-expertise-1;

                    }

                    &.blue {
                        text-decoration: underline $global-color-title-expertise-2;

                    }

                    &.orange {
                        text-decoration: underline $global-color-title-expertise-3;

                    }
                }

                .content {
                    margin-bottom: 10px;
                }

                margin: 30px;
            }
        }

        &::before {
            position: absolute;
            content: "";
            background: url(./assets/image/hello-world-html-code-768x384.webp) no-repeat;
            width: 400px;
            height: 400px;
            opacity: 0.15;
            bottom: -300px;
            z-index: 9999;
        }
    }

    #project {
        padding: 100px 0;
        padding-top: 200px;
        background-color: $global-color-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        #title {
            color: white;
            font-size: 60px;
            margin-bottom: 50px;

        }

        #list {
            padding: 0px 20px;
            display: grid;
            gap: 20px;
            grid-template-columns: auto auto auto;

            @include mobile() {
                grid-template-columns: auto;

            }

            .card {
                overflow-x: hidden;
                background-color: $global-color-card;
                border-radius: 10px;
                color: white;
                display: flex;
                flex-direction: column;

                .card-img {
                    width: 100%;
                    overflow: hidden;
                    height: 300px;
                    object-fit: cover;
                    background-color: white;
                    transition: all ease-in-out 0.2s;
                }

                .card-title {
                    margin: 20px 10px;
                    font-weight: 700;
                    font-size: 24px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow-x: hidden;


                }

                &:hover .card-img {
                    transform: scale(1.1);
                }
            }
        }

    }

    #contact {
        padding: 50px 30px;
        background-color: $global-color-primary;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #title {
            margin-bottom: 50px;
            font-size: 40px;
            font-weight: 700;
        }

        #info {

            .link {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-top: 20px;

                img {
                    margin-right: 30px;
                }

                p {
                    user-select: text !important;

                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #list {

        grid-template-columns: auto auto;
    }

}