$global-color-primary: #1a191d;
$global-color-card: #201f23;
$global-color-secondary: #a8abaf;
$global-color-text-blue: #66d9ed;
$global-color-primary-transparent: rgba(26, 25, 29, 0.8);
$global-color-primary-transparent-1: rgba(26, 25, 29, 0.3);
$global-color-title-expertise-1: #df058d;
$global-color-title-expertise-2: #2c49d8;
$global-color-title-expertise-3: #ff6b2b;

$mobile-width: 800px;